*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.iml
*.ipr
*.iws
.idea/
nb-configuration.xml
nbbuild.xml
nbproject
target
dependency-reduced-pom.xml
test/
Thumbs.db
Desktop.ini
.DS_Store